body {
    margin: 0;
    font-family: sans-serif;
    background: #f4f4f4;
    direction: rtl;
    text-align: center;
}

header {
    background: #4CAF50;
    color: white;
    padding: 20px;
    font-size: 24px;
}

section {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}
